<!DOCTYPE html>
<html ng-app="cadastroCliente">
<meta charset="UTF-8">
<head>
 <title>Cadastro de Cliente</title>
 <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
 <style>
  .jumbotron {
   width: 400px;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
  }
  .table {
   margin-top: 20px;
  }
  .form-control{
   margin-bottom: 5px;
  }
 </style>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
 <script>
  angular.module("cadastroCliente", []);
  angular.module("cadastroCliente").controller("cadastroClienteCtrl", function($scope, $http){
   $scope.app = "Lista de Clientes";
    $scope.getDataFromServer = function() {
                 $http({
                         method : 'GET',
                         url : '/br.com.progweb/CadastraCliente'
                 }).success(function(data, status, headers, config) {
                         $scope.clientes = data;
                 }).error(function(data, status, headers, config) {
                         // called asynchronously if an error occurs
                         // or server returns response with an error status.
                 });

         };
         
         $scope.setDataToServer = function(cliente) {
          console.log(cliente);
          console.log(angular.toJson(cliente));
                $http({
                  params: {"cliente" : angular.toJson(cliente)},
                  dataType: 'json',
                        method : 'POST',
                        url : '/br.com.progweb/CadastraCliente',
                }).success(function(response) {
                 $scope.getDataFromServer();
                }).error(function(response) {
                        // called asynchronously if an error occurs
                        // or server returns response with an error status.
                });

        };
   $scope.adicionarContato = function (contato) {
    $scope.contatos.push(angular.copy(contato));
    delete $scope.contato;
    $scope.clienteForm.$setPristine();
   };

   $scope.getDataFromServer();
	$scope.backLista = function() {
		window.location.href = "/br.com.progweb/listaTodos.html";
	};
	
  });
  
 </script>
</head>
<body ng-controller="cadastroClienteCtrl">
 <div class="jumbotron">
  <h3>{{app}}</h3>
  <table class="table table-striped">
   <tr>
    <th>Nome</th>
    <th>CPF</th>
    <th>Data de Nascimento</th>
   </tr>
   <tr ng-repeat="cliente in clientes">
    <td>{{cliente.nome}}</td>
    <td>{{cliente.cpf}}</td>
    <td>{{cliente.dataNascimento}}</td>  
   </tr>
   </table>
   <hr/>
   <form name="clienteForm">
  	 <input class="form-control" type="text" ng-model="cliente.nome" name="nome" placeholder="Nome" ng-required = "true"/>
  	<input class="form-control" type="text" ng-model="cliente.cpf" name="cpf" placeholder="cpf" ng-required = "true" ng-pattern= "/^\d{9}-\d{2}$/" />
  	 <input class="form-control" type="text" ng-model="cliente.dataNascimento" name="dataNascimento" placeholder="Data de Nascimento" ng-required = "true" ng-pattern ="/^\d{2}/\d{2}/\d{2,4}$/"/>
	</form>
	<div ng-show="clienteForm.nome.$invalid && clienteForm.nome.$dirty" class = "alert alert-danger">
		Por favor, preencha o campo nome!
	</div>
	<div ng-show="clienteForm.cpf.$invalid && clienteForm.cpf.$dirty" class = "alert alert-danger">
		Por favor, preencha a data no formato DDDDDDDDD-DD!
	</div>
	<div ng-show="clienteForm.dataNascimento.$invalid && clienteForm.dataNascimento.$dirty" class = "alert alert-danger">
		Por favor, preencha a data no formato DD/mm/YY ou DD/mm/YYYY
	</div>

   <button class="btn btn-primary btn-block" ng-click="setDataToServer(cliente)" ng-disabled="clienteForm.$invalid">Cadastrar Cliente</button>
   	<button class="btn btn-primary btn-block"
		ng-click="backLista()" ng-disabled="">Voltar para Lista
	</button>
 </div>
</body>