<!DOCTYPE html>
<html ng-app="cadastrarLogar">
<head>
<title>Logar</title>
<link rel="stylesheet" type="text/css"
	href="lib/bootstrap/bootstrap.css">
<style>
.jumbotron {
	width: 400px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.table {
	margin-top: 20px;
}

.form-control {
	margin-bottom: 5px;
}
</style>
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
<script>
	angular.module("cadastrarLogar", []);
	angular.module("cadastrarLogar").controller("cadastrarLogarCtrl",
			function($scope, $http) {
				$scope.app = "Login";
				$scope.getDataFromServer = function(login) {
					$http({
						params : {
							"login" : angular.toJson(login)
						},
						dataType : 'json',
						method : 'GET',
						url : '/br.com.progweb/CadastraLogin'
					}).success(function(data, status, headers, config) {
						$scope.setTimeout();
					}).error(function(data, status, headers, config) {
						window.alert("Erro ao tentar logar, tente novamente.");
					});

				};

				$scope.setDataToServer = function(login) {
					console.log(login);
					console.log(angular.toJson(login));
					$http({
						params : {
							"login" : angular.toJson(login)
						},
						dataType : 'json',
						method : 'POST',
						url : '/br.com.progweb/CadastraLogin',
					}).success(function(response) {
						window.location.href = "/br.com.progweb/cadastrarLogar.html";
					}).error(function(response) {
						// called asynchronously if an error occurs
						// or server returns response with an error status.
					});
				};

				$scope.setTimeout = function() {
					window.location.href = "/br.com.progweb/listaTodos.html";
				};

				$errors = null;
			});
</script>
</head>
<body ng-controller="cadastrarLogarCtrl">
	<div class="jumbotron">
		<h3>{{app}}</h3>

		<table class="table table-striped">
			<tr>

			</tr>
			<input class="form-control" type="text" ng-model="login.nome"
				name="nome" placeholder="Nome" ng-required="true" />
			<input class="form-control" type="text" ng-model="login.senha"
				name="login.senha" placeholder="Password" ng-required="true">

			<button type"button" class="btn btn-primary btn-block"
				ng-click="setDataToServer(login)" ng-disabled="">Cadastrar
				Usuario</button>
			<button type"button" class="btn btn-primary btn-block"
				ng-click="getDataFromServer(login)" ng-disabled="">Logar
				Usuario</button>
			</div>
</body>
</html>