<!DOCTYPE html>
<html ng-app="listaTodos">
<head>
<title>Lista Imoveis</title>
<link rel="stylesheet" type="text/css"
	href="lib/bootstrap/bootstrap.css">
<style>
.jumbotron {
	width: 1920px;
	text-align: center;
	margin-top: 20px;
}

.table {
	margin-top: 20px;
}

.form-control {
	margin-bottom: 5px;
}
</style>
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
<script>
	angular.module("listaTodos", []);
	angular.module("listaTodos").controller("listaTodosCtrl",
			function($scope, $http) {
				$scope.app = "Lista Todos os Dados";
				$scope.getDataFromServer = function() {
					$http({
						method : 'GET',
						url : '/br.com.progweb/CadastraImovel'
					}).success(function(data, status, headers, config) {
						$scope.listaTodos = data;

					}).error(function(data, status, headers, config) {
						// called asynchronously if an error occurs
						// or server returns response with an error status.
					});

				};
				$scope.getDataFromServer();
				
				$scope.redirectcliente = function() {
					window.location.href = "/br.com.progweb/cadastracliente.html";
				};
				
				$scope.redirectimovel = function() {
					window.location.href = "/br.com.progweb/cadastroImovel.html";
				};
			});
</script>
</head>
<body ng-controller="listaTodosCtrl">
	<div class="jumbotron">
		<h3>{{app}}</h3>
		<input class="form-control" type="text" ng-model="criterioDeBusca"
			placeholder="O que deseja filtrar">
		<table class="table table-striped">
			<tr>
				<th id="Tipo">Tipo</td>
				<th id="Quartos">Quartos</th>
				<th id="Banheiros">Banheiros</th>
				<th id="Garagens">Garagens</th>
				<th id="Mobiliado">Mobiliado</th>
				<th id="Elevador">Elevador</th>
				<th id="Andar">Andar</th>
				<th id="Descricao">Descricao</th>
				<th id="Valor">Valor</th>
				<th id="Esquina">Esquina</th>
				<th id="Tamanho">Tamanho</th>
				<th id="Nome">Nome</th>
				<th id="CPF">CPF</th>
				<th id="Dt Nascimento">Data de Nascimento</th>
			</tr>
			<tr ng-repeat="lista in listaTodos | filter:{tipo: criterioDeBusca}">
				<td headers="Tipo" align="left" width="2%">{{lista.tipo}}</td>
				<td headers="Quartos" align="left" width="2%">{{lista.quantidadeQuarto}}</td>
				<td headers="Banheiros" align="left" width="2%">{{lista.quantidadeBanheiro}}</td>
				<td headers="Garagens" align="left" width="2%">{{lista.quantidadeGaragem}}</td>
				<td headers="Mobiliado" align="left" width="2%">{{lista.possuiMobilia}}</td>
				<td headers="Elevador" align="left" width="2%">{{lista.elevador}}</td>
				<td headers="Andar" align="left" width="2%">{{lista.andar}}</td>
				<td headers="Descricao" align="left">{{lista.intensAdicionais}}</td>
				<td headers="Valor" align="left" width="10%">{{lista.valorVenda}}</td>
				<td headers="Esquina" align="left" width="2%">{{lista.esquina}}</td>
				<td headers="Tamanho" align="left" width="10%">{{lista.tamanho}}</td>
				<td headers="Nome" align="left" width="10%">{{lista.cliente.nome}}</td>
				<td headers="CPF" align="left" width="5%">{{lista.cliente.cpf}}</td>
				<td headers="Dt Nascimento" align="left" width="5%">{{lista.cliente.dataNascimento}}</td>
			</tr>
		</table>
			<button type"button" class="btn btn-primary btn-block"
				ng-click="redirectimovel()" ng-disabled="">Cadastrar
				Imovel</button>
			<button type"button" class="btn btn-primary btn-block"
				ng-click="redirectcliente()" ng-disabled="">Cadastrar
				Cliente</button>
		<hr />
	</div>
</body>
</html>